@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
nav {
    display: flex;
    background-color: #1c2832;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 80px;

}
.logo{
    color: white;
    font-weight: 700;
    font-size: 25px;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 0px 8px;
}
nav ul li:hover{
    background-color: #2e5574;
    padding: 0px 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    color: white;
    padding: 7px 13px;
}